.gallery-page {
    padding: 40px;
  }
  
  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 90px;
  }
  
  .image-item {
    width: calc(33.33% - 20px);
    height: 0;
    padding-bottom: calc(33.33% - 20px);
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  .image-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  
  .popup-content {
    max-width: 90%;
    max-height: 90%;
  }
  
  .popup-content img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }